* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
    ;
}

body {
  background-color: #fff5d7;
}

html {
  scroll-behavior: smooth;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    padding: 10 10%;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 10px 50px;
}

#navbar_logo {
    -webkit-text-fill-color: #800020;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #36013F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
  
  .gh_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
  }

  .li_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  .navbar__links:hover {
    color: #390d42b0;
    transition: all 0.3s ease;
  }

  .fa-github {
    color: #800020;
  }

  .fa-linkedin-square {
    color: #800020;
  }

  .intro_home {
    color: #36013F;
    padding-left: 50px;
  }

  .intro_desc {
    padding-left: 80px;
    font-size: 30px;
  }


  /*---- about----*/
  #about {
    padding: 80px 0;
    color: #36013F;

  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
  }

  .about_col_1 {
    flex-basis: 35%;
  }

  .about_col_1 img {
    width: 100%;
    border-radius: 15px;
  }

  .about_col_2 {
    flex-basis: 60%;

  }

  .subtitle {
    font-size: 50px;
    font-weight: 500;

  }

  .tabs {
    display: flex;
    margin: 20px 0 40px;

  }

  .tab_links { 
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }

  .tab_links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #800020;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
  }

  .tab_links.dyn::after {
    width: 100%;

  }

  .tab_content ul li {
    list-style: none;
    margin: 20px 0;
  }

  .span_og {
    color: #800020;
    font-size: 14px;
    font-weight: 800;
    
  }

  .school:link {
    text-decoration: underline;
    color: #800020;
    font-size: 16px;

  }

  .school:visited {
    text-decoration: none;
    color: #800020;
  }

  .school:hover {
    text-decoration: none;
    color: #800020a8;
    transition: all 0.3s ease;
  }

  .school:active {
    text-decoration: none;
    color: #800020;
  }


  .date {
    margin: 10px;
    font-style: italic;
    font-size: 12px;
  }


.secondary_text {
  font-size: 13px;

}

.tab_content {
  display: none;

}

.tab_content.dyn {
  display: block
  
}

/*---- experience ----*/
#experience {
  margin-left: 80px;
  color: #36013F;
}

.comp-title {
  color: #800020;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width: 25%;
  font-size: 25px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .comp-title:hover {
  color: #36013F;
  
}

/* Style the accordion panel. Note: hidden by default */


.comp-title:after {
  content: '[+]'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: #800020;
  margin-left: 5px;
  font-weight: bold;

}

.active:after {
  content: "[-]"; /* Unicode character for "minus" sign (-) */
  font-size: 15px;
  color: #800020;
  margin-left: 5px;
  font-weight: bold;
}

.exp-desc {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.position {
  color: rgb(57, 160, 160);
  font-size: 20px;
  text-decoration: none;
}

.position:hover {
  text-decoration: none;
  color: #800020a8;
  transition: all 0.3s ease;
}

.time-worked {
    padding-top: 5px;
    font-size: 15px;
}

.location {
  font-style: italic;
  font-size: 13px;
  padding-bottom: 10px;
}

.bulletpts {
  padding: 15px;
  
}

.pdf {
  color:#36013F;
}

.poster {
  padding-top: 20px;
  padding-bottom: 20px;
}

.projectdeets {
  padding-top: 10px;
  padding-bottom: 10px;
}


/*----- footer ------*/



