* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
    ;
}

body {
  background-color: #fff5d7;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    padding: 10 10%;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    -webkit-text-fill-color: #800020;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #36013F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
  
  .gh_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
  }

  .li_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  .navbar__links:hover {
    color: #390d42b0;
    transition: all 0.3s ease;
  }

  .fa-github {
    color: #800020;
  }

  .fa-linkedin-square {
    color: #800020;
  }

  .intro_home {
    color: #36013F;
    padding-left: 50px;
  }


  /*---- about----*/
  #about {
    padding: 80px 0;
    color: #36013F;

  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
  }

  .about_col_1 {
    flex-basis: 35%;
  }

  .about_col_1 img {
    width: 100%;
    border-radius: 15px;
  }

  .about_col_2 {
    flex-basis: 60%;

  }

  .subtitle {
    font-size: 50px;
    font-weight: 500;

  }

  .tabs {
    display: flex;
    margin: 20px 0 40px;

  }

  .tab_links { 
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }

  .tab_links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff5e6c;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
  }

  .tab_links.dyn::after {
    width: 100%;

  }

  .tab_content ul li {
    list-style: none;
    margin: 20px 0;
  }

  .tab_content ul li span{
    color: #ff5e6c;
    font-size: 14px;
    font-weight: 800;
    
  }